.postsContainer {
    // display: flex;
    // flex-wrap: wrap;
    // gap: 1rem;
    // background-color: aqua;
    // max-width: 900px;
    width: 100%;

    // padding-left: 1rem;


     @media screen and (max-width: 768px) {
        max-width: 100%;
        padding-left: 0;
        margin: auto;
     }
    a{
        text-decoration: none;
        color: #fff;
    }
}

.post {
    // border: 1px solid rgb(44, 44, 44);
    background-color: #0f0f0f;

    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 4px;
    height: max-content;
    // &:hover{
    //     background-color: #1a1a1a;
    // }

    // background-color: cyan;
    display: flex;
    flex-direction: column;
    
    max-height: 50rem;
    overflow: hidden;
    // &:hover{
    //     opacity: .6;
    // }

    @media screen and (max-width: 500px) {
      width: 100%;
      
      video{
        width: 100%;
      }
    
        
    }

    .content{
        color: #898888;
    }

    .postHeader {
        font-size: 0.9rem;
        display: flex;
        gap: 0.5rem;
        color: #898888;
        // flex-direction: column;
        margin-bottom: .8rem;
        flex-wrap: wrap;
    }

    .title{
        margin-bottom: .5rem;
    }

    .postFooter{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .save{
            svg{
                fill: #1a1a1a;
            }
        }

        .upvote{
            display: flex;
            gap: .2rem;
            align-items: center;
            color: #898888;
            background-color: #0f0f0f;
            border: 1px solid #1a1a1a;
            width: max-content;
            padding: .4rem;
            border-radius: 100px;
            padding: .3rem .6rem;
        }
    }
}
