.postsContainer {
    // display: flex;
    // flex-wrap: wrap;
    // gap: 1rem;
    // background-color: aqua;
    max-width: 1200px;
    // padding-right: 1rem;
}

.post {
    // border: 1px solid rgb(44, 44, 44);
    background-color: #0f0f0f;

    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 4px;
    height: max-content;
    // &:hover{
    //     background-color: #1a1a1a;
    // }

    // background-color: cyan;
}
