.container {
    width: 100%;
    

    .options{
        max-width: 900px;
        margin: auto;
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        // background-color: magenta;

        select{
            padding: 0.5rem;
            border: 2px solid #eee;
            border-radius: 4px;
            // margin-bottom: 1rem;
        }

        input{
            padding: 0.5rem;
            border: 2px solid #eee;
            border-radius: 4px;
            // margin-bottom: 1rem;
        }

        button{
            padding: 0.5rem;
        }
    }

    .content {
        max-width: 900px;
        // background-color: magenta;
        min-height: 100vh;
        margin: auto;
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 1rem;
        .post {
            border: 2px solid #eee;
            // background-color: rgb(242, 242, 242);
            padding: 1rem;
            width: 48%;
            border-radius: 6px;
        }
    }
}
