*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	/* if you want 1rem = 10px, easier for calculations */
	/* font-size: 62.5%; */
}
body {
	/* line-height: 1.5; */
	-webkit-font-smoothing: antialiased;
	background-color: #1a1a1a;
	// background-color: #0f0f0f;
	color: rgb(255, 255, 255);
	font-family: "Switzer", sans-serif;
	font-family: 'Inter', sans-serif;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
	outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

button {
	padding: 0.5rem 1rem;
	background-color: #383838;
	color: #eee;
	border: none;
	border-radius: 4px;
	cursor: pointer;

	
}
a{
	text-decoration: none;
	// color: #eee;
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -1rem; /* gutter size offset */
//   width: 100%;
}
.my-masonry-grid_column {
  padding-left: 1rem; /* gutter size */
  background-clip: padding-box;
}