.container {
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
        padding: 0 1rem;
    }

    .cta-login {
        @media screen and (min-width: 500px) {
            display: none;
        }
    }

    .gotodashboard {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: #ff4500;
        color: #000000;
    }
    nav {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        //  background-color: #0f0f0f;
        .logo {
            color: #ffffff;
            font-size: 1.5rem;
            font-family: "Roboto Mono", monospace;
        }

        .navLogin {
            @media screen and (max-width: 500px) {
                display: none;
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        min-height: 45vh;
        justify-content: center;
        align-items: center;
        text-align: center;

        @media screen and (max-width: 500px) {
            text-align: left;
            align-items: flex-start;
        }

        h1 {
            font-size: 5.5rem;
            line-height: 1;
            font-weight: 900;

            @media screen and (max-width: 1200px) and (min-width: 768px) {
                font-size: 6vw;
            }

            @media screen and (max-width: 768px) {
                font-size: 8vw;
                line-height: normal;
            }
        }

        .description {
            margin-top: 1rem;
            color: #a2a1a1;
            // width: 50rem;
            font-size: 1.5rem;

            @media screen and (max-width: 768px) {
                font-size: 1rem;
                margin-top: 0.4rem;
            }

            // margin: auto;
        }

        button {
            margin-top: 1rem;
        }
    }

    .screenshot {

        width: 100%;
        height: auto;

        img {
            border-radius: 4px;

            @media screen and (max-width: 500px) {
                display: none;
            }
        }
    }

    .tagline {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;
        padding: 6rem 4rem;
        background: radial-gradient(156.94% 156.94% at 50% 156.94%, #ffedbc 0%, #ff4500 100%);
        border-radius: 4px;
        color: #380f00;

        @media screen and (max-width: 768px) {
            padding: 2rem;
        }

        h3 {
            font-size: 4rem;
            text-align: center;
            line-height: 1;
            font-weight: 900;
            @media screen and (max-width: 768px) {
                font-size: 2rem;
            }
        }
        .desc {
            margin-top: 0rem;
        }
    }

    .features {
        display: flex;
        margin-top: 10rem;
        gap: 5rem;
        flex-wrap: wrap;
        flex-direction: column;

        .featureContainer {
            width: 100%;
            display: flex;
            gap: 3rem;

            @media screen and (max-width: 768px) {
                flex-direction: column;
                gap: 0;
            }

            .content {
                flex: 1;
                h3 {
                    font-size: 4rem;
                    line-height: 1;
                    font-weight: 900;
                    @media screen and (max-width: 768px) {
                        font-size: 3rem;
                    }
                }
                p {
                    margin-top: 1rem;
                }
            }
        }

        .feature {
            width: 49%;
            // height: 40rem;
            background-color: #0f0f0f;
            border-radius: 1rem;
            flex: 1;

            @media screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 2rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 4px;
            }
        }
    }

    footer {
        height: 4rem;
        margin-top: 2rem;
        border-top: 2px solid #2a2a2a;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #a2a1a1;

        a{
            color:#ff4500;
        }
    }
}
