.container {
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 1200px){
        padding: 0 1rem;
    }
    nav {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        //  background-color: #0f0f0f;
        h1 {
            color: #ffffff;
        }
    }

    .loginReddit {
        border-radius: 100px;
        background-color: #ff4500;
        color: #000000;
        display: flex;
        align-items: center;
        gap: .5rem;
        font-weight: 500;
    }

    main{
        display: flex;
        flex-direction: column;
        min-height: 60vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        h1{
            font-size: 5.5rem;
            line-height: 1;
            font-weight: 900;

            @media screen and (max-width: 1200px) and (min-width: 768px){
                font-size: 6vw;
            }

            @media screen and (max-width: 768px){
                font-size: 7vw;
                line-height: normal;
            }
        }
        

        .description{
            margin-top: 2rem;
            color: #a2a1a1;
            // width: 50rem;
            font-size: 1.5rem;
            // margin: auto;
        }

        button{
            margin-top: 1rem;
        }
    }
}
