.container {
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
        padding: 0 1rem;
    }

    .cta-login{
        @media screen and (min-width: 500px) {
            display: none;
        
            
        }
    }

    .gotodashboard {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem 1rem;
        background-color: #ff4500;
        color: #000000;
    }
    nav {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        //  background-color: #0f0f0f;
        .logo {
            color: #ffffff;
            font-size: 1.5rem;
            font-family: "Roboto Mono", monospace;
        }

        .navLogin {
            @media screen and (max-width: 500px) {
                display: none;
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        min-height: 45vh;
        justify-content: center;
        align-items: center;
        text-align: center;

        @media screen and (max-width: 500px) {
            text-align: left;
            align-items: flex-start;
        }

        h1 {
            font-size: 5.5rem;
            line-height: 1;
            font-weight: 900;

            @media screen and (max-width: 1200px) and (min-width: 768px) {
                font-size: 6vw;
            }

            @media screen and (max-width: 768px) {
                font-size: 8vw;
                line-height: normal;
            }
        }

        .description {
            margin-top: 1rem;
            color: #a2a1a1;
            // width: 50rem;
            font-size: 1.5rem;

            @media screen and (max-width: 768px) {
                font-size: 1rem;
                margin-top: 0.4rem;
            }

            // margin: auto;
        }

        button {
            margin-top: 1rem;
        }
    }

    .screenshot{
        img{

            border-radius: 4px;
        }
    }

    .features{
        display: flex;
        margin-top: 5rem;
        gap: 1rem;
        flex-wrap: wrap;

        .feature{
            width: 49%;
            height: 30rem;
            background-color: #0f0f0f;
            border-radius: 1rem;
        }
    }

    footer{
        height: 4rem;
        margin-top: 2rem;
        border-top: 2px solid #ff4500;
    }
}
