.container{
    // max-width: 900px;
    // margin: auto;

    .content{
        max-width: 600px;
        margin: auto;
        margin-top: 1rem;
    }

    nav{
        width: 100%;
        background-color: #0f0f0f;
        text-align: center;
        padding: 1rem 0;
        a{
            color: #e6e6e6;
            text-decoration: none;
            // font-size: 1.2rem;
            &:hover{
                color: #fff;
            }
        }
    }
}